
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
  color: $GRAY-12;
  background-color: $GRAY-1;
}

html, body {
  height: 100%;
  font-weight: 400;
  font-family: var(--font-barlow), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1{
  font-size: 4.5rem;
  font-family: "Cal Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
  font-size: 2.5rem;
}

li{
  list-style: none;
}

a{
  color: inherit;
}
