    .home{
        height: 100%;
        padding: $P-8 $P-6;
        position: relative;
        overflow: hidden;

        .heading{
            text-align: center;
            cursor: default;
            
            .lgBrandText{
                transition: 400ms opacity ease-in-out;
            }
        }

        &:has(.lgBrandText:hover){
            .lgBrandText{
                opacity: .5;
            }

            .xlBrandText{
                color: $WHITE-3;
            }
        }

        .startButtons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: $M-3;
        }

        .xlBrandText{
            position: absolute;
            top: 45%;
            left: -2.5rem;
            transition: color 0.4s ease-in-out;
        }
    }
